PORT=3000 # BE PORT

POSTGRES_HOST=localhost
POSTGRES_PORT=5432 #5433 in my setup
POSTGRES_USER=buddyscript
POSTGRES_PASSWORD=buddyscript
POSTGRES_DB=buddyscript


JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=7d

NODE_ENV=development

# Image storage (optional). If given, images will be stored in Cloudinary instead of the local filesystem.
CLOUDINARY_URL= # cloudinary://<api_key>:<api_secret>@<cloud_name>
